body {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "source-sans-pro", "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 175%;
}

p {
  font-family: "source-sans-pro", "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 125%;
  line-height: 175%;
}

code {
  font-family: "source-code-pro", "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 175%;
}

.spacer {
  height: 20%;
}
